.blog-section{
    width: 100%;
}
.blog-section__header{
    padding: 2em;
    background-color: $color-black;

}
.blog-section__title{
    margin: 0;
    font-size: 2.5em;
    font-weight: 500;
    color: $color-white;
    text-align: center;
}
.blog-section__subtitle{
    color: $color-white;
    padding: 2em;
    text-align: center;
    font-size: 1.5em;
}
