
header{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 1fr;
    background-image: url('/banner.jpg');
    background-size: cover;
    margin-bottom: 60px;
}

.header__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    color: $color-white;
}
.header__content--text{
    display: flex;
    flex-direction: column;
}
.header__content h1{
    font-size: 5.4vw;
    min-width: 4em;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
}
.header__content p{
    font-size: 2em;
}
.header__content button{
    max-width: 300px;
    min-width: 300px;
    letter-spacing: 2px;
    font-weight: 600;
    height: 50px;
    margin: 20px 0px;
    background-color: $color-brand;
    border: 1px solid $color-black;
    color: $color-white;
}

@media screen and (max-width: 850px) {
    .header__content{
        margin: 0;
    }
    .header__content h1 {
        font-size: 54px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .header__content p{
        text-align: center;
    }
    .header__content button{
        margin-left: auto;
        margin-right: auto;
    }
  }