.portfolio {
    display: grid;
    grid-gap: 15px;
    padding: 15px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
.portfolio-item{
    display: block;
    border-radius: 3px;
    margin-bottom: 0.5em;
    transition: 0.5s;
  }
.portfolio-item img{
    width: 100%;
    transition: 0.5s;
    border-radius: 10px;
}
.portfolio-item:hover{
    transform: translate(0, -10px);
    box-shadow: 15px 21px 40px 0px rgba(0,0,0,0.5);
    border: 2px solid $color-brand;
    border-radius: 10px;
    cursor: pointer;
}
.portfolio-item__content{
    background-color: $color-white;
    color: $color-black;
    position: relative;
    bottom: 35px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    & h2{
        font-size: 1.5em;
        font-weight: 600;
    }
}
