footer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $color-black;
}
footer p{
    font-size: 24px;
    color: $color-gray;
}