.navbar-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: none;
}

.navbar__logo{
    color: $color-white;
    font-size: 2em;
    font-weight: bold;
    margin-left: 1rem;
}
.navbar__menu ul{
    display: flex;
    justify-content: center;
    margin-right: 1em;
}

.navbar__menu ul li{
    margin: 0 1em;
    list-style: none;
}
.navbar__menu ul li a{
    color: $color-white;
    font-size: 2em;
    text-decoration: none;
}