@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
//fonts
$font-title:'Roboto Condensed', sans-serif;
//colors
$color-brand: #2e47b2;
$color-item: #333872;
$color-dark: #1e2253;
$color-white: #ebebeb;
$color-black: #0C0E22;
$color-gray: #6B6D8C;
//titles
$title-hero:5em;
$title-section: 3.8em;